@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: red 1px solid; */
}

.gridCom:nth-child(even) {
  flex-direction: row-reverse;
}
li {
  list-style: none;
}
section,
footer {
  margin-inline: auto;
  max-width: 60em;
}
.overlay {
  position: absolute;
  height: 42em;
  width: 60em;
  top: 0;
  /* left: 0; */
  background: rgba(0, 0, 0, 0.15);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }